* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #292929;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #c94148
}

h1 {
  color: #c94148 ;
  font-size: 50px;
  margin-bottom: 5px;
}

h3.red {
  color: #c94148;
}

h3.white {
  color: #fff;
}

h3.black {
  color: #292929;
}

a:hover,
a:visited,
a:link,
a:active {
  color: #c94148 ;
  text-decoration: none;
}

a.white:hover,
a.white:visited,
a.white:link,
a.white:active {
  color: #fff;
  text-decoration: none;
}

p {
  text-align: center;
  padding: 5px;
}

.red-font {
  color: #c94148;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  width: 100%;
  flex-wrap: wrap;
}
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.header-container {
  display: flex;
}

.logo {
  padding-left: 50px;
  padding-top: 20px;
}

.main-title {
  width: 50%;
  text-align: right;
  text-transform: uppercase;
  padding-right: 30px;
  padding-bottom: 15px;
}

/* customising bootstrap navbar */
.navbar-default {
  background-color: #c94148;
  color: #fff;
  border: transparent;
  margin-bottom: 0;
}

.nav-item {
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-toggle {
  position: relative;
  padding: 9px 10px;
  margin-top: 8px 15px 8px ;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.hero-img {
  height: auto;
  margin: 0;
}

.portfolio {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  padding-bottom: 40px;
}

.portfolio-title {
  font-size: 2.5em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #c94148;
  color: #fff;
}

.sample-project {
  margin: 10px;
}

.project1 {
  background-color: #c94148;
  color: #fff;
}

.project3 {
  background-color: #fff;
  color: #292929;
}

.sample-project-img {
  max-width: 100%;
}

footer {
  background-color: #c94148;
  color: #fff;
  margin-bottom: 0;
}

footer ul {
  text-align: center;
  padding: 0;
}

footer ul li {
  list-style: none;
  display: inline-flex;
  margin: 30px;
}

/*Media Queries*/
@media screen and (max-width: 550px) {
  h4 {
    font-size: 1.5em;
  }

  .main-title {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 2em;
  }

  p,
  a {
    font-size: 1.75rem;
  }

  .col-6 {
    width: 100%;
  }

  .portfolio {
    flex-flow: wrap column;
  }

  .project {
    max-width: 100%;
    margin: 0;
    padding-bottom: 20px;
  }

  .project-img {
    max-width: 100%;
  }

  footer ul li {
    margin: 15px;
  }
}

